.player {
  align-items: center;
  gap: 8px;

  .playerName {
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.disconnected {
  opacity: 30%;
}
