.chatBody {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;

  .messages {
    height: 206px;
    gap: 0.5rem;
    flex-grow: 1;
    align-items: start;
    padding: 12px;
    padding-top: 14px;
    padding-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--chakra-colors-gray-200);
    border-radius: var(--chakra-radii-md);
    transition: border-color 0.3s linear;
    overflow-y: auto;

    .messageDivider:last-of-type {
      display: none;
    }

    &:hover {
      border-color: var(--chakra-colors-gray-300);
    }
  }
}

.chatForm {
  width: 100%;

  .chatControls {
    gap: 8px;

    .sendButton {
      width: 80px;
    }
  }
}
