.chatBody {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;

  .chatMessages {
    flex-grow: 1;
    padding: 12px;
    padding-top: 14px;
    padding-bottom: 0px;
    height: 206px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--chakra-colors-gray-200);
    border-radius: var(--chakra-radii-md);
    transition: border-color 0.3s linear;
    overflow-y: auto;

    &:hover {
      border-color: var(--chakra-colors-gray-300);
    }

    .messages {
      align-items: start;
      gap: 0.5rem;

      .messageDivider:last-of-type {
        display: none;
      }
    }
  }
}

.chatForm {
  width: 100%;

  .chatControls {
    gap: 8px;

    .sendButton {
      width: 80px;
    }
  }
}
