.waitingLobbyCard {
  .waitingLobbyBody {
    padding-top: 0;
    padding-bottom: 0;

    .verticalContainer {
      gap: 12px;
    }
  }

  .joinUrlInput {
    user-select: auto;
  }

  .copyButton {
    width: 92px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
