.waitingLobbyCard {
  .waitingLobbyBody {
    padding-top: 0;
    padding-bottom: 0;

    .players {
      max-height: 255px;
      overflow-y: auto;
    }
  }

  .footerContainer {
    width: 100%;

    .joinUrlInput {
      user-select: auto;
    }

    .copyButton {
      width: 92px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
