.messageContainer {
  max-width: 307px;

  .avatar {
    flex-shrink: 0;
  }

  .message {
    font-size: 0.95rem;
    word-wrap: anywhere;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    .messageSender {
      word-wrap: anywhere;
      font-weight: 500;
    }
  }
}
