.messageContainer {
  max-width: 307px;
  .avatar {
    flex-shrink: 0;

    .crown {
      width: 13.5px;
      top: -7px;
      left: 5.15px;
    }
  }

  .message {
    font-size: 0.95rem;
    word-wrap: anywhere;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    .messageSender {
      font-weight: 500;
    }
  }
}
