.wordsInputCard {
  position: relative;

  .cardContent {
    position: relative;
    z-index: 1;

    .instructions {
      margin-right: 4px;
      margin-bottom: 12px;
      margin-left: 4px;
      text-align: center;

      .chosenWord {
        font-weight: 500;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-top: 0;
      padding-bottom: 0;

      .wordInputLeftAddon {
        justify-content: center;
        width: 45px;
      }

      .wordInput {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .sendButton {
        margin-top: 4px;
      }
    }

    &Done {
      pointer-events: none;
    }
  }

  .cardOverlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(4px); /* Blur effect */
    border-radius: var(--card-radius);
    background: rgba(235, 235, 235, 0.2); /* Semi-transparent background */
    padding-right: 24px;
    padding-left: 24px;
    width: 100%;
    height: 100%;

    .pleaseWaitContainer {
      .pleaseWaitText {
        text-align: center;
      }

      .submissionStatus {
        flex-direction: column;
        gap: 0.25rem;
        width: 100%;

        .hiddenCrown {
          display: none;
        }

        .submission {
          justify-content: space-between;
          align-items: center;

          .spinner {
            margin-bottom: -6.25px;
          }
        }
      }
    }
  }
}
