.lobbyContainer {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'instructions lobby';
  align-items: flex-start;
  gap: 24px;

  .instructions {
    grid-area: instructions;
  }

  .lobby {
    grid-area: lobby;
  }
}

@media (max-width: 600px) {
  .lobbyContainer {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      'instructions'
      'lobby';
  }
}
