.waitingLobbyCard {
  .waitingLobbyBody {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 12px;

    .playerList {
      flex-grow: 1;
      align-items: start;
      box-shadow: var(--card-shadow);
      border-width: var(--card-border-width, 0);
      border-color: var(--card-border-color);
      border-radius: var(--card-radius);
      padding: 20px;
      height: 0px; // any fixed value will do
      overflow-y: auto;
    }
  }

  .joinUrlContainer {
    display: flex;
    padding-top: 0;

    .joinUrlInput {
      flex-grow: 1;
      width: 0;
      user-select: auto;
    }

    .copyButton {
      padding-right: 16px;
      padding-left: 16px;
      width: 76px;
    }
  }
}
