.matchingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'col1 col2';
  grid-auto-rows: min-content;
  align-items: flex-start;
  gap: 24px;

  .col1 {
    grid-area: col1;
    flex-direction: column;
    gap: 24px;
  }

  .col2 {
    grid-area: col2;
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 600px) {
  .matchingContainer {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
      'col1'
      'col2';
  }
}
