.gameContainerGrid {
  display: grid;
  grid-template-rows: repeat(2, 373px);
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'game joinedPlayers'
    'game chat';
  gap: 24px;

  .game {
    grid-area: game;
  }

  .joinedPlayers {
    grid-area: joinedPlayers;
  }

  .chat {
    grid-area: chat;
  }
}

@media (max-width: 600px) {
  .gameContainerGrid {
    display: grid;
    grid-template-rows: auto repeat(8, 70px);
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;

    .joinedPlayers {
    }

    .chat {
    }
  }
}
