.gameContainerGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 373px);
  grid-template-areas:
    'game joinedPlayers'
    'game chat';
  gap: 24px;

  .game {
    grid-area: game;
  }

  .joinedPlayers {
    grid-area: joinedPlayers;
  }

  .chat {
    grid-area: chat;
  }
}

@media (max-width: 600px) {
  .gameContainerGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto repeat(8, 70px);
    gap: 24px;

    .lobby {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .joinedPlayersList {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 6;

      &Playing {
        grid-row-start: 6;
        grid-row-end: 10;
      }
    }

    .chat {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 10;

      &Playing {
        grid-row-start: 2;
        grid-row-end: 6;
      }
    }

    .wordsInput {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 7;

      &Playing {
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }
  }
}
