.gameContainerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 165px repeat(2, 80px); // 3 rows
  gap: 24px;

  .lobby {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .joinedPlayersList {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .chat {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .wordsInput {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
  }
}

@media (max-width: 600px) {
  .gameContainerGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto repeat(8, 70px);
    gap: 24px;

    .lobby {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .joinedPlayersList {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 6;

      &Playing {
        grid-row-start: 6;
        grid-row-end: 10;
      }
    }

    .chat {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 10;

      &Playing {
        grid-row-start: 2;
        grid-row-end: 6;
      }
    }

    .wordsInput {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 7;

      &Playing {
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }
  }
}
