.votingDescriptionText {
  width: 0;
  min-width: 100%;
  text-align: center;
}

.votingWordsList {
  margin-top: 6px;

  .votingWord {
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .votingWordLine {
      justify-content: space-between;
      align-items: center;

      .wordContainer {
        align-items: center;
        gap: 8px;

        .rejectButton:not(:hover) {
          background-color: var(--chakra-colors-red-50);
        }

        .rejectButton:hover {
          background-color: var(--chakra-colors-red-100);
        }

        .rejectButton:active {
          background-color: var(--chakra-colors-red-200);
        }

        .rejectCross {
          // https://stackoverflow.com/a/53336754
          filter: brightness(0) saturate(100%) invert(29%) sepia(54%)
            saturate(5804%) hue-rotate(346deg) brightness(101%) contrast(79%);
          width: 8px;
          height: 8px;
        }
      }

      .skippedCross {
        display: flex;
        justify-content: center;
        width: 24px;
      }

      .hiddenCrown {
        display: none;
      }
    }
  }
}

.acceptBallotButton {
  margin-top: 16px;
  width: 100%;
}
