.description {
  width: 0;
  min-width: 100%;
  text-align: center;
}

.roundList {
  margin-top: 8px;

  .roundItem {
    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
