.wordInputLeftAddon {
  width: 45px;
  justify-content: center;
}

.wordInput {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &:hover,
  &:focus-visible {
    border-color: var(--chakra-colors-gray-200);
  }
}