.votingDescriptionText {
  text-align: center;
}

.votingWordsList {
  margin-top: 12px;

  .votingWord {
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .votingWordLine {
      justify-content: space-between;
      align-items: center;

      .skippedCross {
        display: flex;
        justify-content: center;
        width: 24px;
      }

      .crown {
        // The crown in this component does not look good as it makes it look like the spacing between items is inconsistent
        display: none;
      }
    }
  }
}

.acceptBallotButton {
  margin-top: 16px;
  width: 100%;
}
