.instructions {
  text-align: center;
}

.crown {
  width: 13.5px;
  top: -7px;
  left: 5.15px;
}

.wordInputLeftAddon {
  width: 45px;
  justify-content: center;
}

.skeleton {
  width: 100%;
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);

  .wordInput {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:hover,
    &:focus-visible {
      border-color: var(--chakra-colors-gray-200);
    }
  }
}
