.wordInputLeftAddon {
  width: 45px;
  justify-content: center;
}

.wordInput {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &:hover,
  &:focus-visible {
    border-color: var(--chakra-colors-gray-200);
  }
}

.currentVotingWord {
  box-sizing: content-box;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 2px var(--chakra-colors-blue-500);
}
