.gameEndedContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 24px;
}

@media (max-width: 600px) {
  .gameEndedContainer {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}
