.hostInstructions {
  width: 0;
  min-width: 100%;
  text-align: center;
}

.wordsContainer {
  width: 0;
  min-width: 100%;

  .matchingInstructions {
    text-align: center;
  }

  .buttonsContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
