.adminLobbyForm {
  padding-top: 0;
  padding-bottom: 0;

  .amountOfRoundsFormItem {
    display: flex;
    align-items: center;

    .amountOfRoundsLabel {
      font-weight: normal;
      margin-left: 2px;
      margin-bottom: 0;
    }

    .amountOfRoundsInput {
      max-width: 120px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
    }
  }
}
