.adminLobbyForm {
  padding-top: 0;
  padding-bottom: 0;

  .amountOfRoundsFormItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .amountOfRoundsLabel {
      margin-bottom: 0;
      margin-left: 2px;
      font-weight: normal;
    }

    .amountOfRoundsInput {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      max-width: 120px;
    }
  }
}
