.avatarWrapper {
  position: relative;

  .crownBase {
    position: absolute;
  }

  .crown32 {
    top: -9px;
    left: 7px;
    width: 18px;
  }

  .crown24 {
    top: -7px;
    left: 5.15px;
    width: 13.5px;
  }
}
